{% extends 'layout.html.twig' %}

{% block header %}
    <a class="header big" href="{{ path("app.index") }}"></a>
{% endblock %}

{% block sidebar %}
    <div class="more uk-panel uk-panel-box">
        <h3>Recent posts</h3>
        {% for post in blogs | slice(0, 10) %}
            <a href="{{ path("app.post", { name: post.slug }) }}">{{ post.title }}</a>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    {% for blog in blogs %}
        {% include 'summary.html.twig' with {blog : blog} only %}
    {% endfor %}
{% endblock %}
