{% extends 'layout.html.twig' %}

{% block sidebar %}
    <div class="uk-panel uk-panel-box">
        <h3>Recent posts for {{ tag }}</h3>
        <ul class="uk-list uk-list-line">
            {% for post in tag_blogs | slice(0, 10) %}
                <li><a href="{{ path("app.post", { name: post.slug }) }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    <h1>Post for the tag: {{ tag }}</h1>

    {% for blog in tag_blogs %}
        {% include 'summary.html.twig' with {blog : blog, title_size: 'lead'} only %}
    {% endfor %}
{% endblock %}

