{% extends 'layout.html.twig' %}

{% block sidebar %}
    <div class="uk-panel uk-panel-box">
        <h3>Recent posts</h3>
        <ul class="uk-list uk-list-line">
            {% for post in blogs | slice(0, 10) %}
                <li><a href="{{ path("app.post", { name: post.slug }) }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block content %}
    {% for blog in blogs %}
        {% include 'article.html.twig' with {blog : blog, comments: false} only %}
    {% endfor %}
{% endblock %}

