body, html {
    background-size: cover;
    background: #333 url(/images/header.png) no-repeat top center;
    height: 100%;
    color: #fff;
}

h4, h3, h2, h1 {
    color: #fff;
}

a {
    color: #fff;
    text-decoration: underline;
}

a:hover {
    color: #ccc;
}

.about.uk-panel-box {
    background: transparent;
    color: #fff;
}

.more.uk-panel-box {
    background: transparent;
}

.more a {
    display: block;
}

.about a {
    margin: 0 5px;
}

.header {
    background: url(/images/logo-small.png) no-repeat left center;
    display: block;
    height: 100px;
}

.header.big {
    background: url(/images/logo.png) no-repeat center center;
    display: block;
    height: 50%;
}

@media screen and (max-width: 480px) {
    .header.big {
        background-size: 70%;
    }
}

.uk-article-meta {
    color: #ccc;
}

:not(pre)>code, :not(pre)>kbd, :not(pre)>samp, em {
    color: #e4b870;
}

.uk-badge {
    background: #fff;
    color: #333;
    padding: 2px 7px;
    border-radius: 10%;
    text-decoration: none;
}
a.uk-badge:hover {
    text-decoration: none;
    background: #ddd;
    color: #333;
}

article table {
    border-collapse: collapse;
}

article table td, article table th {
    border: 1px solid #ccc;
    padding: 5px 10px;
}

article table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
